<div class="mat-elevation-z8">
    <div #searchFormContainer>
        <regionDropDown (changeEvent)=reload()></regionDropDown>
        <button mat-raised-button (click)="reload()">reload</button>
        <button mat-raised-button (click)="add()">add</button>
    </div>

    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="discTag">
            <th mat-header-cell *matHeaderCellDef> Discount Tag </th>
            <td mat-cell *matCellDef="let element"> {{element.discTag}} </td>
        </ng-container>

        <ng-container matColumnDef="region">
            <th mat-header-cell *matHeaderCellDef> Region </th>
            <td mat-cell *matCellDef="let element"> {{dbRegionMap.get(element.db)}} </td>
        </ng-container>

        <ng-container matColumnDef="statCde">
            <th mat-header-cell *matHeaderCellDef> statCde </th>
            <td mat-cell *matCellDef="let element"> {{element.statCde}} </td>
        </ng-container>

        <ng-container matColumnDef="lastModEmplNbr">
            <th mat-header-cell *matHeaderCellDef> lastModEmplNbr </th>
            <td mat-cell *matCellDef="let element"> {{element.lastModEmplNbr}} </td>
        </ng-container>

        <ng-container matColumnDef="lastModDte">
            <th mat-header-cell *matHeaderCellDef> lastModDte </th>
            <td mat-cell *matCellDef="let element"> {{element.lastModDte}} </td>
        </ng-container>

        <ng-container matColumnDef="statcDesc">
            <th mat-header-cell *matHeaderCellDef> Static Description </th>
            <td mat-cell *matCellDef="let element"> {{element.statcDesc}} </td>
        </ng-container>

        <ng-container matColumnDef="statcDescC">
            <th mat-header-cell *matHeaderCellDef> Static Description (Traditional Chinese) </th>
            <td mat-cell *matCellDef="let element"> {{element.statcDescC}} </td>
        </ng-container>

        <ng-container matColumnDef="statcDescCZhs">
            <th mat-header-cell *matHeaderCellDef> Static Description (Simplified Chinese) </th>
            <td mat-cell *matCellDef="let element"> {{element.statcDescCZhs}} </td>
        </ng-container>

        <ng-container matColumnDef="invntCount">
            <th mat-header-cell *matHeaderCellDef> Inventory Count </th>
            <td mat-cell *matCellDef="let element"> {{element.invntCount}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> actions </th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="updateRow(row)">
                  <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn" (click)="deleteConfirmation(row)">
                  <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Click to Set Disc Inventory" class="iconbutton" color="primary" (click)="updateInventory(row)">
                <mat-icon aria-label="Settings">settings</mat-icon>
              </button>
            </td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,50]" (page)=page() showFirstLastButtons ></mat-paginator>
</div>

